<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/A.Aboalwafa/IdeaProjects/2P_Task"><classes><class name="testCases.TestCases"><methods><include name="AddCustomerData"/><include name="AddCustomerNumber"/><include name="DeleteCustomer"/></methods></class></classes></test></suite>